.burger-menu {
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
  width: 70px;
  height: 70px;
  background-color: red;
  display: none;
}
@media (max-width: 767px) {
  .burger-menu {
    display: flex;
  }
}
