.navigation {
  position: fixed;
  height: 100vh;
  width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 1;
  padding: 20px 58px 20px 0;
  gap: 10px;
  border-right: 2px solid var(--gris, #282621);
  background: url("../img/texture-grain-menu.png"), #101010;
  background-size: cover;

  a {
    text-decoration: none;
    width: 100%;
  }
  .projects-list::-webkit-scrollbar {
    display: none; /* Chrome / Safari */
  }
  .projects-list {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden; /* pas de scroll horizontal */
    scrollbar-width: none; /* Firefox */
    flex: 1;
    padding-right: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    a.selected {
      background-color: yellow;
    }
    .projects-list::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;

      pointer-events: none;

      background: linear-gradient(
        to bottom,
        transparent,
        rgba(255, 255, 255, 0.25)
      );
      opacity: 0;
      transition: opacity 0.25s ease;
    }

    .projects-list.shadow-active::after {
      opacity: 1;
    }
    .category {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 27px;

      .category-name {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        align-self: stretch;

        img {
          height: 30px;
        }

        .separator {
          height: 0.5px;
          align-self: stretch;
          background: var(--beige, #fff0b8);
        }
      }

      .projects {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-left: 20px;
        align-self: stretch;
      }

      .category-project {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;

        .project-name,
        .project-date-menu {
          color: var(--jaune-fade, #40350d);
          transition: color 0.2s;
          font-size: 20px;
        }
      }
      .category-project:hover {
        .project-name,
        .project-date-menu {
          color: var(--jaune, #f4c100);
        }
      }
    }
  }
}
.about-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  align-items: flex-start;
  gap: 10px;
  img {
    height: 15px;
  }
  .about,
  .contact {
    display: flex;
    fill: var(--beige, #fff0b8);
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--beige-50, rgba(255, 240, 184, 0.5));
    opacity: 0.5;
    transition: opacity 0.1s;
  }
  .about:hover,
  .contact:hover {
    opacity: 1;
  }
}
@media (max-width: 1080px) {
  .navigation {
    width: 300px;
    .project-date-menu {
      display: none;
    }
  }
}
