.personnage-accueil {
  z-index: 1;

  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  border-radius: 12px;
  transform: translate(-50%, -50%) translate(var(--tx, 0px), var(--ty, 0px));
}
