audio {
  display: none;
}

.player {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  .player-progress {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    .player-time {
      font-size: 15px;
      color: #aaa;
    }
    .player-progress-bar {
      width: 100%;
      height: 8px;
      background: #444;
      border-radius: 5px;
      position: relative;
      overflow: hidden;

      .player-progress-inner {
        width: 0%;
        height: 100%;
        background: #fcf1be;
        transition: width 0.2s ease;
      }
    }
  }

  .player-controls {
    display: flex;
    gap: 10px;

    .player-button {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      transition: scale 0.3s;
      i {
        font-size: 20px;
      }
      &:hover {
        scale: 110%;
      }
    }

    .pause {
      display: none;
    }
  }
}
