.welcome-accueil-mobile {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;

  .accueil-mobile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .projects-text-mobile {
    position: fixed;
    top: 15%;
    right: 15%;
    width: 70%;
    opacity: 70%;
  }
}

@media (min-width: 767px) {
  .welcome-accueil-mobile {
    display: none;
  }
}
