.welcome {
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  .welcome-accueil {
    position: absolute;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
  }
  .portfolio-text {
    position: absolute;
    width: 80%;
    left: 0;
    top: 0;
  }
  .home-personnage {
    will-change: transform;
    transition: none;
    position: absolute;
    width: 45%;
    bottom: 0;
    left: 30%;
  }
  .home-charlot-kolly {
    position: absolute;
    width: 30%;
    left: 4%;
    bottom: 4%;
    mix-blend-mode: soft-light;
  }
  .light-and-lamp {
    position: absolute;
    transform-origin: top right;
    height: 100vh;
    width: 150%;
    top: 0;
    right: 0;
    pointer-events: none;
    .home-light {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0;
      animation: flicker 3s infinite;
      filter: brightness(1);
      transform-origin: top right;
      pointer-events: none;
      mix-blend-mode: overlay;
    }

    @keyframes flicker {
      0%,
      18%,
      22%,
      25%,
      53%,
      57%,
      100% {
        opacity: 1;
        filter: brightness(1);
      }

      /* moments "off" un peu plus longs */
      19%,
      23%,
      55% {
        opacity: 0;
        filter: brightness(0.5);
      }

      /* moments où la lampe est instable (mais pas totalement éteinte) */
      20%,
      24% {
        opacity: 0.8;
        filter: brightness(1.4);
      }

      /* petit moment de semi-luminosité, pour une impression plus naturelle */
      54%,
      56% {
        opacity: 0.6;
        filter: brightness(0.8);
      }
    }

    .home-lamp {
      position: absolute;
      width: 100%;
      top: 0;
      right: 0%;
      transform-origin: top right;
      pointer-events: none;
    }
  }

  .logo {
    position: absolute;
    width: 23%;
    bottom: 0;
    right: 3%;
    mix-blend-mode: overlay;
    overflow: hidden;
    border-radius: 100%;
  }

  .texture-grain {
    position: absolute;
    width: 100%;
    height: 100vh;
    mix-blend-mode: overlay;
    pointer-events: none;
  }
  .black-fill {
    position: absolute;
    background-color: oklab(0% 0 0 / 0.5);
    width: 100%;
    height: 100vh;
    mix-blend-mode: soft-light;
    pointer-events: none;
  }
  .cover-home-image {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    pointer-events: none;
  }
  .first-interaction {
    position: absolute;
    width: 100vw;
    height: 1100vh;
    z-index: -2;
  }
}
@media (max-width: 767px) {
  .welcome-accueil {
    display: none;
  }
}
@media (max-width: 1080px) {
  .home-light {
    display: none;
  }
}
