.choose-your-project {
  display: flex;
  width: 30%;
  position: relative;
  align-self: center;
  margin: auto;
  transform: translateY(50px) translateX(80px);
  opacity: 40%;
}
@media (max-width: 767px) {
  .choose-your-project {
    display: none;
  }
}
