.welcome {
  height: 100vh;
  background: $gris-fonce;
  background: url("../img/texture-grain-project.png"), #101010;
  background-size: cover;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.2s;
  position: fixed;
  inset: 0;
  z-index: 1;
  .texture-grain {
    pointer-events: none;
  }
  .welcome-portfolio {
    transition: 0.3s;
    position: fixed;
    display: flex;
    width: 97%;
    margin-top: 2%;
  }
  .welcome-personnage {
    z-index: 110;
    position: fixed;
    display: flex;
    width: 54%;
    bottom: 0%;
    transform: translateY(65%);
    transition: transform 0.7s cubic-bezier(0.235, 0.02, 0.07, 0.98);
  }
  .welcome-personnage:hover {
    transform: translateY(10%);
  }

  .welcome-name {
    transition: 0.3s;
    position: fixed;
    display: flex;
    width: 28%;
    bottom: 7%;
    left: 2%;
  }
  .texture-grain {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
  }
  .menu-welcome {
    display: flex;
    width: 18%;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 100;

    .menu-title-welcome,
    a {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-self: stretch;
      width: 100%;
      :hover {
        img {
          left: 10;
        }
      }
      img {
        position: relative;
        left: 0;
        width: min-content;
        height: 22px;
        transition: 0.1s ease-in-out;
      }
      .separator-welcome {
        height: 1px;
        align-self: stretch;
        width: 100%;
        background: var(--beige, #fff0b8);
      }
    }
  }
  .welcome-portfolio.menu-title-welcome-click {
    transform: translateY(-600px);
    transition: 0.4s ease-in-out;
  }
  .welcome-name.menu-title-welcome-click {
    transform: translateY(100px) translateX(-500px);
    transition: 0.4s ease-in-out;
  }
  .welcome-personnage.menu-title-welcome-click {
    transform: translateY(800px);
    transition: 0.4s ease-in-out;
  }
  .menu-welcome.menu-title-welcome-click {
    transform: translateY(100px) translateX(400px);

    transition: 0.4s ease-in-out;
  }
  .texture-grain.menu-title-welcome-click {
    display: none;
    transition: 0.2s ease-in-out;
  }
  .welcome-name:hover {
    rotate: 8deg;
  }
  .welcome-portfolio:hover {
    scale: 103%;
  }
}
